<div class="row">
  <div class="card" style="width: 25%;">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ average('income') }}</h5>
      <p class="card-text">Income</p>
      <a href="#" class="btn btn-primary">See all</a>
    </div>
  </div>
  <div class="card" style="width: 25%;">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ average('outcome') }}</h5>
      <p class="card-text">Outcome</p>
      <a href="#" class="btn btn-primary">See all</a>
    </div>
  </div>
  <div class="card" style="width: 25%;">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ average('loan') }}</h5>
      <p class="card-text">Loans</p>
      <a href="#" class="btn btn-primary">See all</a>
    </div>
  </div>
  <div class="card" style="width: 25%;">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ average('investment') }}</h5>
      <p class="card-text">Investments</p>
      <a href="#" class="btn btn-primary">See all</a>
    </div>
  </div>
</div>
